
/*global styles*/


h1{
  font-family: 'Roboto',sans-serif;
  font-size: 1.3em;
  color:var(--headerDark);
  font-weight: 600;
  
}
h3{
  padding: 0;
  margin: 0;
  font-size:1em;
  font-weight:normal;
}
hr{
  border-top-color: rgb(241,247,251);
  border-bottom-color: rgb(241,247,251);
  border-bottom-style:solid;
  border-top-style:solid;
  border-top-width:2px;
  border-bottom-width:2px;
}
p{
  font-family: 'Roboto',sans-serif;
  color:var(--paragraphFont);
  font-weight:400;
  font-size: 1rem;
  line-height: 1.8em;
}
a{
  font-weight:700;
}
a:hover{
  cursor:pointer;
}



/*start navigation*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  --backgroundPrimary:#FFF;
  --backgroundSecondary:#f6f9fc;
  --primaryFont:black;
  --paragraphFont:#808080;
  --headerDark:black;
  --linkColor:#6772e5;

  background-color: var(--backgroundPrimary);
  color:var(--primaryFont);
}

header{
	background:var(--backgroundPrimary);
	width: 100%;
	padding: 40px 0;
	color: var(--paragraphFont);
	text-align: center;
}
nav ul{
	background-color: var(--backgroundSecondary);
	color: var(--paragraphFont);
	padding: 0;
	margin: 0;
	text-align: center;
	overflow: hidden;
	-webkit-transition: max-height 0.4s;
	-ms-transition: max-height 0.4s;
	-moz-transition: max-height 0.4s;
	-o-transition: max-height 0.4s;
	transition: max-height 0.4s;
}
nav ul li{
	display: inline-block;
	padding: 20px;

}
.homebutton{
  color:var(--linkColor);
  border-bottom:4px solid var(--linkColor);
  border-radius:2px;
}
nav ul li:hover{
	color:var(--linkColor);
  border-bottom:4px solid var(--linkColor);
  border-radius:2px;
}

a{
	text-decoration: none;
	color: inherit;
}


.handle {
	width: 100%;
	background-color: #005C48;
	box-sizing: border-box;
	padding: 15px;
	cursor: pointer;
	display: none;
}
p.menu{
	display: inline-block;
}
.menu_icon div {
  background-color: white;
  border-radius: 2px;
  width: 35px;
  height: 5px;
  margin: 5px;
}
.menu_icon{
	float: right;
	margin: .5em 0;
}

@media screen and (max-width: 768px) {
    header{
      padding-top:10px;
    }


}

/* end .navbar
start slideshow section */


@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}


div#captioned-gallery { 
  max-width: 100%; 
  overflow: hidden; 
  max-height:93%;
}


figure.slider { 
  position: relative; width: 500%;
  font-size: 0; animation: 10s slidy infinite; 
}
figure.slider figure { 
  width: 20%; height: auto;
  display: inline-block;  position: inherit; 
}
figure.slider img { width: 100%; height: 100%; }

figure.slider figure figcaption { 
  position: absolute; bottom: 0;
  background: rgba(0,0,0,0.4);
  color: #fff; width: 100%;
  font-size: 2rem; padding: .6rem; 
}

@media screen and (max-width: 768px) {
  div#captioned-gallery { 
    overflow:hidden;
    height:80%;
    width:100%;
  }
  figure.slider img {
    max-width:100%; 
    height:100%; 
  }
  .centerimg{
    position: center;
  }
}


/*end slideshow start aboutme section */

.aboutme{
  display:grid;
  grid-column-gap:5%;
  grid-template-areas:
  "aboutmeS1 aboutmeS2";
  margin-left:20%;
  margin-right:20%;
  margin-top:10%;
  text-align:center;
}
.aboutmeS1{
  grid-area:aboutmeS1;
  min-width: 400px;
  background-image:url('https://images.unsplash.com/photo-1493414307931-f6f5861f5029?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
  background-repeat: no-repeat;
}

.aboutmeS2{
  grid-area:aboutmeS2;
  margin-bottom:5%;
}
.aboutme h1{
  padding-top:7%;
  padding-bottom: 1%;
  font-size:1.6em;
  color:var(--primaryFont);
}
.aboutme h3{
  margin-bottom:5%;
  color:var(--primaryFont);
}


.aboutme p{
  color:var(--paragraphFont);
  font-weight:400;
  font-size: 1rem;
  line-height: 1.8em;
}
.aboutme a{
  font-size:1em;
  color:var(--linkColor);
  text-decoration: none;
  padding-top:0;
  padding-bottom:5%;
  float:right;
}
.aboutme a:hover{
  text-decoration: underline;
}
.aboutme hr{
  margin-bottom:2%;
  margin-top:7.5%;
}
@media screen and (max-width: 1000px) {
  .aboutme{
    display:grid;
    grid-template-areas:
    "aboutmeS2"
    "aboutmeS1";
    margin-left:15%;
    margin-right:15%;
  }
  .aboutmeS1{
    min-height:300px;
    min-width:300px;
    background-size: 100% 100%;
  }
  .aboutmeS2{
    min-width:400px;
  }

}
@media screen and (max-width: 768px) {
  .aboutme{
    display:grid;
    grid-template-areas:
    "aboutmeS2"
    "aboutmeS1";
    margin-left:7%;
    margin-right:7%;
  }
  .aboutmeS1{
    background-size: 100% 100%;
    
  }
  .aboutmeS2{
    min-width:225px;
  }

}


/*end aboutme section
start events section */

.events{
  background: var(--backgroundSecondary);
  margin-top:5%;
  padding-bottom:0%;
  padding-left:5%;
  padding-right:5%;
  text-align: left;
}
.events a{
  font-size:1em;
  color:var(--linkColor);
  text-decoration: none;
}
.eventdesc{
  text-align: center;
  padding-bottom: 5%;
  width:70%;
  margin-left:15%;
  margin-right:15%;
}
.events hr{
  margin-bottom:2%;
  margin-top:5%;
  font-size:1.2em;
}
.events a{
  float:right;
}
.events a:hover{
  text-decoration: underline;
}
.eventtitle{
  font-size:1.5rem;
  text-align: center;
  padding-top:5%;
  padding-bottom: 0%;
}
.eventdesc{
  font-weight:400;
  color:var(--primaryFont);
}
.gallerylink{
  margin-top:5%;
  padding-right:20px;
}
.boxes{
  display:grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-gap: 5%;
  margin-left:15%;
  margin-right:15%;
  width:70%;
  align-items: stretch;
}


.boxstyle{
  background-color: var(--backgroundPrimary);
  border-radius: 10px;
  box-shadow:0px 4px 6px 0 hsla(0,0%,0%,0.2);
  padding-bottom:10%;
}
.boxstyle img{
  max-width:100%;
}
.boxstyle h1{
  padding-top:5%;
  padding-left:5%;
  color:var(--primaryFont);
}
.boxstyle h3{
  padding-left:5%;
  font-weight:400;
  padding-bottom:5%;
}
.boxstyle p{
  padding-left:5%;
  padding-right:5%;
}
.boxstyle:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.events hr{
  border-top-color:var(--backgroundSecondary);
  border-top-style:solid;

}

/*button goes here give button class of btn1*/

.extramargin{
  padding-bottom:5%;
}


@media screen and (max-width: 1000px) {
  .boxes{
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    margin-left:5%;
    margin-right:5%;
    width:90%;
  }
  .extramargin{
    padding-bottom:25%;
  }
}
@media screen and (max-width: 768px) {
  .boxes{
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    margin-left:5%;
    margin-right:5%;
    width:90%;
  }
  .extramargin{
    padding-bottom:185%;
    margin-bottom:0%;
  }


}


/*end event cards
 start contact */


.contact{
  background-color:white;
	-webkit-animation: Gradient 10s ease infinite;
	-moz-animation: Gradient 10s ease infinite;
	animation: Gradient 10s ease infinite;
  padding-bottom: 0%;
  padding-top: 0%;
}
.contactcontainer{
  margin-left:20%;
  margin-right:20%;
  width:60%;
}
#contacttitle{
  font-weight:700;
  padding-top:5%;
}

.contact h1{
  text-align: center;
  font-size:1.6em;
  font-weight:300;
}
.column {
  float: left;
  width: 50%;
  margin-top:16px;
  margin-bottom: 16px;
  padding: 50 30px;
}
.copyright{
  font-size:0.8em;
}

@media screen and (max-width: 1068px) {
  .contactcontainer{
    width:80%;
    margin-left:10%;
    margin-right:10%;
  }


}


@media screen and (max-width: 768px) {
  .column{
    width: 100%;
    padding: 50 5px;
    display: block;
  }
  .container{
    text-align: center;
  }
  .row{
    margin-left:10%;
    margin-right:10%;
    width:80%;
  }
  .contact{
    padding-top:0%;
    padding-bottom:0%;
  }
  .contactcontainer{
    width:100%;
    margin-left:0%;
    margin-right:0%;
  }
  #contactmessage{
    padding-left:2.5%;
    padding-right:2.5%;
  }
}



.container {
  text-align: center;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}
#contactmessage{
  text-align: center;
  color:var(--primaryFont);
  padding-bottom:0%;
  line-height:1.3em;
  font-weight: 400;
}
#title {
  font-size:1em;
  line-height:1.3em;
  color:var(--primaryFont);
  margin-bottom:2.5%;

}
.meetus{
  color:var(--paragraphFont);

}

.container h2{
  padding-bottom:0%;
  margin-bottom:0%;
}
.container p{
  margin-top:1%;
  padding-top:0;
  margin-bottom:1%;
  padding-bottom:0;
  line-height:1.3em;
}
.number{
  color:#24b47e;
}

.card img{
  border-radius: 50%;
  border:2px solid black;
  margin-left:25%;
  margin-right:25%;
}




/*end .contact
start footer */

/*social media icons */
.social{
  color:var(--paragraphFont);
  padding-left:0.75%;
  padding-right:0.75%;
  padding-bottom:2.5%;
} 

.footerhr{
  margin: 0;
  color:#999;
  height:2px;
}

.footer{
  padding-top:2.5%;
  background: var(--backgroundPrimary);
  text-align: center;
  padding-bottom:2.5%;
}
.footer a{
  float:center;
  font-size:1em;
  color:var(--linkColor);
  text-decoration: none;
  padding-top:5%;
  padding-left:2%;
  padding-right: 2%;
}
.footer img{
  margin-top:1%;

}
.footer a:hover{
  text-decoration: underline;
}
#owners{
  color:var(--paragraphFont);
  text-align: center;
}
.footerhr{
  margin-left:10%;
  margin-right:10%;
  width:80%;
}
.footer i{
  padding-top:1.5%;
}
.signature{
  color:var(--primaryFont);
  font-size:1.6em;
}
.footerdivider{
  color:var(--linkColor);
}
